@media (max-width: 1200px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
	margin: 40px auto;
	width: 700px;
  }
}
@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: auto;
    margin: 20px auto;
  }
}
@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: auto;
    margin: 20px auto;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: auto;
    margin: 10px auto;
  }
}
body{
	background-color: #F5F0BB;
	font-family: Palatino, URW Palladio L, serif;
	font-size: 16px;
	line-height: ;
}
h1.name{
	color: #F5F0BB;
}
p{
	color: black;
	font-size: 22px;
	font-weight: bold;
}
img.img-circle {
  border-radius: 50%;
  width: 150px;
}
.fas.fa-smile
{
	color: yellow;
	padding-left: 10px;
}
.card.text-center{
	margin: 0 auto;
	text-align: center;
	background-color: #73A9AD;
	padding: 30px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
}
.card.code.text-center{
	background-image: url("images/img-code.jpg");
	margin: 0 auto;
	text-align: center;
	padding: 30px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    background-size: 100% 100%;
  height: 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}
.list-inline > li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    font-size: 33px;
}
a.btn-red{
	background-color: #F5F0BB;
	padding: 10px 30px 10px 30px;
	border-radius: 5px;
	text-decoration : none;
	font-size: 22px;
}
a:hover {
	background-color: black;
	padding: 10px 30px 10px 30px;
	border-radius: 5px;
	text-decoration : none;
	font-size: 22px;
	color: #F5F0BB;
}
